/* -------------- BASE -------------------- */


@import "./grouplayer.css";


@layer estilos-basicos, estilos-basicos2;




:root {
  --container-width: 1000px;
}



@layer estilos-basicos2 {

  .item {
    .example {
      color: rgba(19, 4, 221, 0.603);
    }
  }

}

@layer estilos-basicos {

  .item {
    .example {
      color: rgb(211, 66, 22);
    }
  }

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[class*="block"] {
  border: 4px solid #89a09d;
}

.block {
  background-color: rgb(25, 210, 216);
}

.block-red {
  background-color: rgb(202, 91, 91);
}

.block-blue {
  background-color: rgb(21, 57, 216);
}

.block-green {
  background-color: rgb(41, 199, 81);
}




.container {
  max-width: var(--container-width);
  height: 100vh; /* viewport height: vh, viewport width: vw */
  margin: 0 auto;
  background: #d6d6d6;
  
}




/* -------------------------------------------- */

.main {
  background-color: rgba(118, 185, 230, 0.432);
  height: 30vh;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 2fr;
  grid-area: auto;


}


/* -------------------------------------------- */

.main2 {
  height: 70vh;
  background-color: beige;
  display: grid;
  grid-template-areas: 
    "header header"
    "sidebar content_main"
    "footer footer "
  ;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 50px 1fr 30px;
  grid-gap: 5px;
}

.main2 .header {
  grid-area: header;
}

.main2 .sidebar {
  grid-area: sidebar;
}

.main2 .content_main {
  grid-area: content_main;
}

.main2 .footer {
  grid-area: footer;
}

/* -------------------------------------------- */

.main3 {
  margin-top: 20px;
  height: 500px;
  background-color: #525252;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.main3 .item-1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}






